*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    margin: 0;
}


.pop-up{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
transition: 200m ease-in-out;
background-color: white;
border: 1px black solid;
border-radius: 10px;
z-index: 10;
width: 500px;
max-width: 80%;
}

.pop-up.active{
    transform: translate(-50%,-50%) scale(1);
}
.pop-up-header,.pop-up-alert{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 1rem;
    border: 1px solid black;
}
.pop-button,.pop-button-close{
    margin-left: auto;
    cursor: pointer;
}

#overlay{
    position: fixed;
    transition: 200m ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}
/* Styling the header */
.header{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-area: header;
    background-color: #7477bf;
}

.notifictations {
    position:absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color:rgb(144 238 144);
    margin-left:25px;
    margin-top: 5px;
    top: auto;
}

header h1{
    margin-right: auto;
    margin-left: .5em;
    color: white;
    font-size: 1rem;
}
.svg-div{
    border-right: 1px white solid;
    height: 70%;
}

header .svg-image{
    transition:.5s;
    height: 1.2em;
    width: 2em;
    margin: .5em .5em 0 0;
    filter:  invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    margin-bottom: 1em;
}

.svg-image:hover,.notifictations:hover{
    height: 1.5em;
    width: 1.5em;
    transform: rotate(-30deg);
    margin-right: 10px;
}
.student h3{
    font-size: 1rem;
    display: inline-block;
  margin: 0 1em 0 .5em;
  text-align: center;
  color: white;
}
.student{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.student img{
    border-radius: 50%;
    margin-left: .5em;
    margin-right: .5em;
   
}
/* ------------------------------------ */
/* Styling the nav */


.navigation{
    grid-area: nav;
    background-color: #4d4c72;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav img{
    margin-right: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
    
}
img{
    height: 2.5em;
    width: 2.5em;
}
/* ------------------------------------ */
/* Styling the main element */
.main{
    grid-area: main;
}
    .test{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }

/* Styling the dashboard */

.dash-board-header{
    display: flex;
    flex-direction: row;
}

.dash-search {
    flex-basis: 75%;
  }
  
.dash-search input{
    height: 79.88px;
    margin-top: 0;
    font-size: 1.6em;
     width: 100%
}
.dash-board-header h1{
    font-size: 1.4em;
    margin-right: .5em;
    margin-left: .5em;
    flex-basis: 25%
}


/* ------------------------------------ */

/* Styling the traffic widget */

.traffic-header{
    display: flex;
    flex-direction: column;
}
.traffic-header h3{
width: 30%;
}

.traffic,.daily{
    border-bottom: 1px black solid;
}
.daily{
    width: 100%;
    display: flex;
    flex-basis: row;

}
.traffic-nav{
    text-align: center;
    padding: 0;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}
.traffic-link,.traffic-link-active{
    font-size: 1.3em;
    cursor: pointer;
}
.traffic-link-active{
    border-radius: 30%;
    background-color: limegreen;
    padding: .3em;
    color: white;
}
.traffic h3, .daily h3{
    font-size: 1.4em;
    margin-left: .5em;
}
.line{
    filter:  invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
 }

 .widget-container,.widget-half{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    width:  100%
    
}
.daily{
    display: flex;
    flex-direction: column;
}


/* ------------------------------------ */


.placeholder{
    margin-top: 1em;
    width: 80%;
    height: 350px;
}

.alert-banner{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-content: center;
    background-color: limegreen;
    margin-top: 1rem;
    cursor: pointer;
}
.alert-banner p:first-child{
margin: auto;
padding: 1em;
}

.alert-banner p:last-child{
    margin-right: 1rem ;
    }


/* styling social */

.social-stats{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.social-container{
    display: flex;
    background-color: #f5f5f5;
    border: 1px black solid;
    border-radius: 3%;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1em;
    flex-basis: 40%;
    
}

.svg{
    height: 80%;
    width: 1em;
}

.fill2,.fill{
    fill: white;
    
    
}
    

.social-img{
    align-self: center;
    height: 4.5rem;
    width: 4.5rem;
    padding: 1rem;
    margin-right: .5em;
    margin-left: .5em;
    background: #7477bf;
    border-radius: 50%;
}
.social-text{
   
    width: 70%;
}
.company,.numbers{
    text-align: left;
}
.company{
    font-size: 1.5em;
    margin-bottom: .2em;
    margin-top: .5em;
}
.numbers{
    font-size: 3em;
    margin: 0%;
    width: 100%;
    margin-bottom: .3em;
    margin-right: .1em
    ;
}



/* ------------------------------------ */
/* Styleing the members */

.new-members{
    border-top: 1px black solid;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.member-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px black solid;
    margin-bottom: 1em;
}

.member-container p {
    margin: 0;
    margin-top: 1rem;
}

.member-container p:last-child {
    margin-bottom: 1rem;
}


.member-text{
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
}

.member-image{
border-radius: 50%;
width: auto;
height: auto;
}
.member-headers{
    margin-left: 1.5rem;
    align-self: start;
    font-size: 2rem;
    flex-basis: 90%;
}

.recent-activity{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    border-top: 1px black solid;
}
/* ------------------------------------ */


/* Styling message */
.message{
    width: 100%;
}

.message,.message-container{
    display: flex;
    flex-direction: column;
}

.message-container{
    width: 90%;
    margin: 0 auto;
}

.form-field,.main-button,.form-area{
    font-size: 1.5rem;
    padding: .5rem;
    margin-top: 2rem;
    cursor: pointer;
}

.form-field,.form-area{
    background-color:#f5f5f5 ;
    border: lightsteelblue 2px solid;
    border-radius: 5%;
}
.main-button{
    color: white;
    background-color: #7477bf;
    border: 2px solid lightsteelblue;
    border-radius: 5%;
    padding: 1.5rem;
}

/* ------------------------------------ */
/* styling settings */

.settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.switch-light{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-right: 2rem; 
    
    margin-bottom: .5rem;
    
}
span{
    flex-basis: 20%;
    margin-left: auto;
    text-align: center; ;
    
    
}

#timezone{
    flex-basis: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1.5rem;
}
.setting-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.save-button,.button-dis{
    margin: 0 auto;
    width: 40%;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: white;
    border: 2px lightsteelblue solid;
    border-radius: 5%;
    cursor: pointer;
}
.notify{
    margin-left: 1.5rem;
    font-size: 1rem;
}

.save-button{
    background-color: #7477bf;
}
.button-dis{
    background-color: lightgray;
}

.arrow{
    display: none;
    font-size: 1.5rem;
    color: grey;
}


/* ------------------------------------ */


/* ------------------------------------ */


.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    'header'
    'nav'
    'main'
    ;
}

@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }
    
    
    .traffic-nav{
        width: 100%;
        justify-content: flex-end;
    }
    .traffic-link,.traffic-link-active{
        margin-right: 1em;
    }
    nav{
        flex-direction: column;
        justify-content: flex-start;
    }
    .test{
        flex-direction: row;
        flex-wrap:wrap
    }
    
    .widget-container {
        width: 95vw;
      }
     
      .member-text{
          text-align: left;
          margin-left: 1em;
      }
      .arrow{
          display: flex;
      }

    .widget-half{
        flex-basis: 50%;
        width: 45vw;
    }

    .social-stats{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social-container{
     flex-basis:30%;
    }
    .social-stats h2{
        width: 100%;
    }
    .member-container{
        flex-direction: row;
        padding: 1rem;
    }
    .traffic-header{
        flex-direction: row;
    }
    .traffic ol{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
    }
    .daily{
        display: flex;
        flex-direction: row;
    }
    .placeholder{
        width: 100%;
    }
    
}


@media (min-width: 1024px) {
    
    .new-members,.recent-activity{
        flex-basis: 50%;
        align-content: center;
        
    }
    .recent-activity{
        border-left: 1px black solid
    }
    .settings,.message{
        flex-basis: 50%;
    }
    .settings{
        border-left: 1px black solid;
    }
    .save-button,.button-dis{
        margin-bottom: auto;
    }
    .save-button,.button-dis,.main-button{
        margin-bottom: 1rem;
    }
    .member-text{
        font-size: 1rem;
        
    }
}