*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    margin: 0;
}

/* Styling the header */
.header{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    grid-area: header;
    background-color: #7477bf;
}

header h1{
    margin-right: auto;
    margin-left: .5em;
    color: white;
}
.svg-div{
    border-right: 1px white solid;
    height: 70%;
}

header .svg-image{
    height: 2em;
    width: 2em;
    margin: .5em 1em 0 0;
    filter:  invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.student h3{
    display: inline-block;
  margin: 0 1em 0 .5em;
  text-align: center;
  color: white;
}
.student{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.student img{
    border-radius: 50%;
    margin-left: .5em;
    margin-right: .5em;
   
}
/* ------------------------------------ */
/* Styling the nav */


.navigation{
    grid-area: nav;
    background-color: #4d4c72;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav img{
    margin-right: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
    
}
img{
    height: 2.5em;
    width: 2.5em;
}
/* ------------------------------------ */
/* Styling the main element */
.main{
    grid-area: main;
}
    .test{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

/* Styling the dashboard */

.dash-board-header{
    display: flex;
    flex-direction: row;
}

.dash-search {
    flex-basis: 75%;
  }
  
.dash-search input{
    height: 79.88px;
    margin-top: 0;
    font-size: 1.6em;
     width: 100%
}
.dash-board-header h1{
    font-size: 1.4em;
    margin-right: .5em;
    margin-left: .5em;
    flex-basis: 25%
}


/* ------------------------------------ */

/* Styling the traffic widget */

.traffic-header{
    display: flex;
    flex-direction: column;
}
.traffic-header h3{
width: 30%;
}

.traffic,.daily{
    border-bottom: 1px black solid;
}
.daily{
    width: 100%;
    display: flex;
    flex-basis: row;

}
.traffic-nav{
    text-align: center;
    padding: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
}
.traffic-link,.traffic-link-active{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 1.3em;
}
.traffic-link-active{
    border-radius: 30%;
    background-color: limegreen;
    padding: .3em;
    color: white;
}
.traffic h3, .daily h3{
    font-size: 1.4em;
    margin-left: .5em;
}
.line{
    filter:  invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
 }

 .widget-container,.widget-half{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
}
.daily{
    display: flex;
    flex-direction: column;
}

/* ------------------------------------ */


.placeholder{
    margin-top: 1em;
    width: 80%;
    height: 350px;
}



/* styling social */

.social-stats{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.social-container{
    display: flex;
    background-color: #f5f5f5;
    border: 1px black solid;
    border-radius: 3%;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    flex-basis: 40%;
    
}

.social-img{
height: 10%;
width: 25%;
margin-top: .5em;
margin-left: 1em;
margin-right: 1em;;
align-content: center;
}
.social-text{
   
    width: 70%;
}
.company,.numbers{
    text-align: left;
}
.company{
    font-size: 1.5em;
    margin-bottom: .2em;
    margin-top: .5em;
}
.numbers{
    font-size: 3em;
    margin: 0%;
    width: 100%;
    margin-bottom: .3em;
}

.fill{
    fill: #7477bf;
}


/* ------------------------------------ */
/* Styleing the members */

.new-members{
    border-top: 1px black solid;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.member-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px black solid;
    margin-bottom: 1em;
}

.member-container p {
    margin: 0;
    margin-top: 1rem;
}

.member-container p:last-child {
    margin-bottom: 1rem;
}


.member-text{
    text-align: center;
    font-size: 1.7rem;
    width: 80%;
}

.member-image{
border-radius: 50%;
width: auto;
height: auto;
}
.member-headers{
    margin-left: 1.5rem;
    align-self: start;
    font-size: 2rem;
    flex-basis: 90%;
}

.recent-activity{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* ------------------------------------ */


/* Styling message */
.message,.message-container{
    display: flex;
    flex-direction: column;
}

.message-container{
    width: 90%;
    margin: 0 auto;
}

.form-field,.main-button,.form-area{
    font-size: 2rem;
    padding: .5rem;
    margin-top: 2rem;
}

.form-field,.form-area{
    background-color:#f5f5f5 ;
    border: lightsteelblue 2px solid;
    border-radius: 5%;
}
.main-button{
    color: white;
    background-color: #7477bf;
    border: 2px solid lightsteelblue;
    border-radius: 5%;
    padding: 1.5rem;
}

/* ------------------------------------ */
/* styling settings */

.settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.switch-light{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    
}
span{
    flex-basis: 20%;
    margin-left: auto;
    
    
}

#timezone{
    flex-basis: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1.5rem;
}
.setting-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.save-button,.button-dis{
    margin: 0 auto;
    width: 40%;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    padding: 1.5rem;
    color: white;
    border: 2px lightsteelblue solid;
    border-radius: 5%;
}
.notify{
    margin-left: 1.5rem;
    font-size: 2rem;
}

.save-button{
    background-color: #7477bf;
}
.button-dis{
    background-color: lightgray;
}




/* ------------------------------------ */


/* ------------------------------------ */


.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    'header'
    'nav'
    'main'
    ;
}

@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }
    nav{
        flex-direction: column;
        justify-content: flex-start;
    }
    .test{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
   

    .widget-half{
        flex-basis: 50%;
    }

    .social-stats{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social-container{
     flex-basis:30%
    }
    .social-stats h2{
        width: 100%;
    }
    .member-container{
        flex-direction: row;
        padding: 1rem;
    }
    .traffic-header{
        flex-direction: row;
    }
    .traffic ol{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
    }
    .daily{
        display: flex;
        flex-direction: row;
    }
    .placeholder{
        width: 100%;
    }
    .recent-activity .member-container:first-child{
        height: 400px;
    }
}


@media (min-width: 1024px) {
    .recent-activity,.new-members{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .member-container{
        flex-basis: 50%;
    }
}